body {
  display: grid;
  grid-template-areas:
    "green green green"
    "yellow red blue"
    "orange orange blue";
    gap: 10px
}
ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
li {
  list-style-type: none;
  background-color: white;
  display: flex;
  justify-content: center;
}
#green {
  grid-area: green;
  background-color: green;
  padding: 10px;
}
#yellow {
  padding: 10px;
  background-color: yellow;
  grid-area: yellow;
}

#red {
  grid-area: red;
  background-color: red;
  padding: 10px;
}
#blue {
  grid-area: blue;
  background-color: blue;
  padding: 10px;
}
#orange {
  grid-area: orange;
  background-color: orange;
  padding: 10px;
}
