div {
  border-radius: 10px;
  width: 400px;
  overflow: hidden;
  box-shadow: 4px 4px 10px gray;
}
.screen {
  /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  background-color: gray;
}
p {
  font-size: 2em;
  padding: 0;
  margin: 0;
}
.keybinds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.result {
  grid-row: span 4;
  background-color: red;
}
.operators {
  background-color: rgb(111, 129, 147);
}

button {
  padding: 10px;
  font-size: 2em;
  appearance: none;
  border: none;
}
