body {
    margin: 0;
    ;
  }
  nav {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: slategray;
    padding: 0;
    height: 58px;
  }
  .nav-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  h1 {
    color: white;
    font-size: larger;
    align-items: center;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  select {
    background-color: transparent;
  }
  
  form {
    display: flex;
    margin-left: auto;
  }
  
  button[disabled] {
    cursor: not-allowed;
  }
  .search-button {
    border: 1px solid green;
    color: green;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
  }
  .line {
    width: 30px;
    height: 10px;
    background-color: black;
  }
  @media (max-width:768px) {
    .nav-container {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
  }